<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schreinerei Gfeller</title>

    @*  CSS *@
    <link href="~/res/16x16/favicon.png" rel="icon" type="image/png">
    <link href="~/Assets/css/main.css" rel="stylesheet" type="text/css"/>
    @RenderSection("css", required:false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/_Header.cshtml")

        @RenderSection("background", required:false)

        <main>
            @RenderBody()
        </main>

        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

    @*  JS  *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/Assets/js/app.js"></script>
    @RenderSection("js", required:false)
</body>
</html>
