<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schreinerei Gfeller</title>

    @* CSS *@
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="~/Assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="~/favicon.png" rel="icon" type="image/png">
    @RenderSection("css", required:false)
</head>
<body>
    @Html.Partial("_Header")
    <main class="container-fluid">
        <div class="row">
            <section class="col-sm-8 col-sm-offset-4">
                <div class="content">
                    @RenderBody()
                </div>
            </section>
        </div>
    </main>
    <section class="cover">
        <div class="cover--image" style="background-image:url(/Assets/img/wood.jpg)"></div>
    </section>
    @Html.Partial("_Footer")

    @*  JS  *@
    @RenderSection("js", required:false)
</body>
</html>